TEST OF INDEPENDENCE



> Null hypothesis=independence i.e there is no association

> Alternate hypothesis=dependence i.e there is association

In [1]:
import pandas as  pd
import numpy as np
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.DataFrame(pd.read_csv("/content/drive/MyDrive/internshala/M5_T3_V2_TitanicSurvival.csv"))

In [4]:
df

                                 Name survived  gender passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female            1st
1      Allison, Master. Hudson Trevor      yes    male            1st
2        Allison, Miss. Helen Loraine       no  female            1st
3     Allison, Mr. Hudson Joshua Crei       no    male            1st
4     Allison, Mrs. Hudson J C (Bessi       no  female            1st
...                               ...      ...     ...            ...
1304             Zabour, Miss. Hileni       no  female            3rd
1305            Zabour, Miss. Thamine       no  female            3rd
1306        Zakarian, Mr. Mapriededer       no    male            3rd
1307              Zakarian, Mr. Ortin       no    male            3rd
1308               Zimmerman, Mr. Leo       no    male            3rd

[1309 rows x 4 columns]

In [8]:
dframe=df.pivot_table(df,index="gender",columns=["survived","passengerClass"],aggfunc="count")

In [9]:
dframe

               Name
survived         no            yes
passengerClass  1st  2nd  3rd  1st 2nd  3rd
gender
female            5   12  110  139  94  106
male            118  146  418   61  25   75

In [10]:
from scipy.stats import chi2_contingency

In [11]:
chi2_contingency(dframe)

Chi2ContingencyResult(statistic=397.2343394203484, pvalue=1.1703719501263788e-83, dof=5, expected_freq=array([[ 43.78762414,  56.24751719, 187.96638655,  71.19938885,
         42.36363636,  64.43544691],
       [ 79.21237586, 101.75248281, 340.03361345, 128.80061115,
         76.63636364, 116.56455309]]))

reject null hypothesis

>  as pvalue lesser than alpha (significance level 0.05)


>there is association between survival,class and gender